# PostgreSQL
POSTGRES_DB=clinica_vet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# API
DATABASE_URL=postgresql://postgres:@localhost:5432/clinica_vet
REDIS_URL=redis://localhost:6379
PORT=4000

# Frontend (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:4000